{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Category</th>
            <th>Republish</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.name }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.republish }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
